section#content {
	padding-top: $global-padding;
	padding-bottom: $global-padding; 
}

article, main {
	position:relative;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $global-margin;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $global-margin 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $global-margin;
}