form {
	li {
		list-style:none;
	}
	label {
		display:block;
		margin-top:1em;
	}
	input:not[type=checkbox],
	input:not[type=radio] {
		-webkit-appearance: none;
		border-radius: 0;
	}
	input[type=radio] + label {
		margin-top:0;
	}
	input[type=checkbox] + label, input[type=radio] + label, label.checkbox {
		display:inline-block;
	}
	input[type=text], input[type=email], input[type=password], input[type=url], input[type=search], input[type=tel], textarea, select {
		max-width: 100%;
		width: 100%;
		border:em-calc(1) solid lighten($body-color,40%);
		padding:$gutter/6;
		display:block;
		color:lighten($body-color,20%);
		&:hover, &:focus {
			color:$body-color;
		}
	}
}